<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pingan.springboottwo.mapper.QrtzTriggersMapper">

    <resultMap id="triggerId" type="cn.pingan.springboottwo.model.vo.TriggerVo">

        <result column="SCHED_NAME" property="schedName" />
        <result column="trigger_Name" property="triggerName" />
        <result column="job_Name" property="jobName" />
        <result column="job_Group" property="jobGroup" />
        <result column="description" property="description" />
        <result column="next_Fire_Time" property="nextFireTime" />
        <result column="prev_Fire_Time" property="prevFireTime" />
        <result column="trigger_State" property="triggerState" />
        <result column="cron_expression" property="cron" />
    </resultMap>

    <select id="getAllTrigger" resultMap="triggerId">
        SELECT
        qt.SCHED_NAME,
        qt.TRIGGER_NAME,
        qt.TRIGGER_GROUP,
        qt.JOB_NAME,
        qt.JOB_GROUP,
        qt.DESCRIPTION,
        qt.TRIGGER_STATE,
        date_format(from_unixtime(qt.NEXT_FIRE_TIME)/(1000*60*24*60)+
        str_to_date('1970-01-01 08:00:00','YYYY-MM-DD hh24:MI:SS'),'YYYY-MM-DD hh24:MI:SS') AS NEXT_FIRE_TIME,
        date_format(from_unixtime(qt.PREV_FIRE_TIME)/(1000*60*24*60)+
        str_to_date('1970-01-01 08:00:00','YYYY-MM-DD hh24:MI:SS'),'YYYY-MM-DD hh24:MI:SS') AS PREV_FIRE_TIME
        from qrtz_triggers qt
        left join qrtz_cron_triggers qct
        on qt.TRIGGER_NAME=qct.TRIGGER_NAME
    </select>
</mapper>
